In [ ]:
import pandas as pd

data = pd.read_csv("synthetic_asthma_dataset.csv")
data

,Patient_ID,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
0,ASTH100000,52,Female,27.6,Former,1,NaN,Moderate,Sedentary,Outdoor,Diabetes,0.38,0,421.0,46.0,0,NaN
1,ASTH100001,15,Male,24.6,Former,0,Dust,Low,Moderate,Indoor,Both,0.60,2,297.6,22.9,0,NaN
2,ASTH100002,72,Female,17.6,Never,0,NaN,Moderate,Moderate,Indoor,NaN,0.38,0,303.3,15.3,0,NaN
3,ASTH100003,61,Male,16.8,Never,0,Multiple,High,Sedentary,Outdoor,Both,0.60,1,438.0,40.1,1,Poorly Controlled
4,ASTH100004,21,Male,30.2,Never,0,NaN,Moderate,Active,Indoor,NaN,0.82,3,535.0,27.7,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ASTH109995,70,Male,25.0,Never,0,NaN,Low,Sedentary,Indoor,NaN,0.67,0,580.6,18.7,0,NaN
9996,ASTH109996,78,Female,24.8,Never,0,Pollen,Low,Moderate,Indoor,Diabetes,0.72,1,417.6,40.8,0,NaN
9997,ASTH109997,58,Male,30.1,Former,1,Pollen,Low,Moderate,Indoor,NaN,0.28,0,459.1,20.3,1,Not Controlled
9998,ASTH109998,88,Female,31.2,Former,0,Pollen,Moderate,Moderate,Indoor,NaN,0.44,0,415.9,25.0,0,NaN
9999,ASTH109999,13,Female,16.4,Former,1,Multiple,High,Moderate,Outdoor,NaN,0.23,0,359.4,23.2,1,Not Controlled

cek kolom

In [ ]:
data.shape

(10000, 17)

mangecek keseragaman data

In [ ]:
print("Gender:")
print(data["Gender"].value_counts())

print("\nComorbidities:")
print(data["Comorbidities"].value_counts())

Gender:
Gender
Female    4814
Male      4786
Other      400
Name: count, dtype: int64

Comorbidities:
Comorbidities
Diabetes        2029
Hypertension    2018
Both             986
Name: count, dtype: int64

Gender:
Kategori Other pada variabel gender sebaiknya tidak diubah karena dapat merepresentasikan pasien yang memiliki identitas gender di luar Male dan Female, seperti non-binary, transgender, atau pasien yang memilih untuk tidak mengungkapkan jenis kelaminnya. Menghapus atau menggabungkan kategori ini ke dalam kelompok lain berpotensi menghilangkan keragaman serta membuat data menjadi bias, sehingga dengan membiarkannya tetap ada, dataset lebih inklusif dan mencerminkan kondisi sebenarnya dari responden.

Comorbidities:
Kategori Both pada variabel comorbidities juga sebaiknya tidak diubah karena istilah tersebut sudah jelas menunjukkan pasien yang memiliki dua penyakit penyerta sekaligus, yaitu Diabetes dan Hypertension. Meskipun secara teknis dapat dipecah menjadi dua kolom terpisah, membiarkannya tetap dalam satu kategori justru dapat mempertahankan keaslian data dan tetap memberikan informasi yang valid mengenai adanya komorbiditas ganda tanpa perlu mengubah struktur dataset.

In [ ]:
data.describe()

,Age,BMI,Family_History,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,44.930700,25.053320,0.303400,0.497998,1.015900,400.884090,25.101420,0.243300
std,25.653559,4.874466,0.459749,0.224809,1.020564,97.531113,9.840184,0.429096
min,1.000000,15.000000,0.000000,0.000000,0.000000,150.000000,5.000000,0.000000
25%,23.000000,21.600000,0.000000,0.320000,0.000000,334.800000,18.200000,0.000000
50%,45.000000,25.000000,0.000000,0.500000,1.000000,402.500000,25.000000,0.000000
75%,67.000000,28.400000,1.000000,0.670000,2.000000,468.700000,31.700000,0.000000
max,89.000000,45.000000,1.000000,0.990000,6.000000,600.000000,63.900000,1.000000

Deskripsi Hasil :

Hasil dari perintah data.describe() memberikan ringkasan statistik untuk kolom numerik dalam dataset. Beberapa informasi yang ditampilkan antara lain nilai minimum, maksimum, rata-rata (mean), standar deviasi, serta kuartil (25%, 50%, 75%).
Sebagai contoh, pada kolom Age terlihat rentang usia pasien yang cukup luas dari nilai minimum hingga maksimum, sehingga memberikan gambaran variasi kelompok umur dalam dataset. Pada kolom BMI, nilai mean dan standar deviasi menunjukkan distribusi indeks massa tubuh yang bisa dibandingkan dengan nilai normal WHO (18,5â€“24,9). Demikian pula, kolom seperti Medication Adherence, Number of ER Visits, Peak Expiratory Flow, dan FeNO Level menunjukkan variasi data klinis yang dapat digunakan untuk analisis kesehatan pasien asma.
Informasi tersebut berfungsi untuk mengidentifikasi adanya anomali. Misalnya, jika nilai maksimum sangat jauh dari kuartil atas, maka kemungkinan besar terdapat outlier. Selain itu, nilai mean yang berbeda jauh dari median (50%) juga bisa menjadi indikasi distribusi data yang tidak simetris.

#**----------- Cleaning Data ------------**

##**1. Cek Tipe Data** (lidya)

In [ ]:
data.dtypes

Patient_ID                  object
Age                          int64
Gender                      object
BMI                        float64
Smoking_Status              object
Family_History               int64
Allergies                   object
Air_Pollution_Level         object
Physical_Activity_Level     object
Occupation_Type             object
Comorbidities               object
Medication_Adherence       float64
Number_of_ER_Visits          int64
Peak_Expiratory_Flow       float64
FeNO_Level                 float64
Has_Asthma                   int64
Asthma_Control_Level        object
dtype: object

Deskripsi Hasil :

Berdasarkan hasil pemeriksaan tipe data menggunakan perintah data.dtypes, diperoleh informasi bahwa dataset terdiri dari kombinasi kolom numerik dan kategorikal. Kolom numerik bertipe int64 atau float64, misalnya Age, BMI, Medication Adherence, Number of ER Visits, Peak Expiratory Flow, dan FeNO Level. Kolom-kolom ini merepresentasikan variabel kuantitatif yang dapat dihitung secara matematis dan dianalisis dengan metode statistik numerik.
Sementara itu, sebagian besar kolom lainnya bertipe object, seperti Gender, Smoking Status, Family History, Allergies, Air Pollution Level, Physical Activity Level, Occupation Type, Comorbidities, Has Asthma, dan Asthma Control Level. Tipe object biasanya menunjukkan data kategorikal atau teks, sehingga teknik analisisnya berbeda, misalnya menggunakan label encoding atau one-hot encoding jika akan dipakai untuk pemodelan.
Pemeriksaan tipe data ini penting karena membantu menentukan langkah pembersihan data berikutnya. Variabel numerik dapat diproses dengan imputasi berbasis median atau mean serta deteksi outlier, sedangkan variabel kategorikal lebih tepat diproses dengan imputasi berbasis modus dan standardisasi penulisan kategori.

## **2. Cek missing value**

In [ ]:
data.isnull().sum()

Patient_ID                    0
Age                           0
Gender                        0
BMI                           0
Smoking_Status                0
Family_History                0
Allergies                  2936
Air_Pollution_Level           0
Physical_Activity_Level       0
Occupation_Type               0
Comorbidities              4967
Medication_Adherence          0
Number_of_ER_Visits           0
Peak_Expiratory_Flow          0
FeNO_Level                    0
Has_Asthma                    0
Asthma_Control_Level       7567
dtype: int64

In [ ]:
print(data["Allergies"].value_counts())
print("-----------------")
print(data["Comorbidities"].value_counts())
print("-----------------")
print(data["Asthma_Control_Level"].value_counts())

Allergies
Dust        2479
Pollen      1999
Pets        1585
Multiple    1001
Name: count, dtype: int64
-----------------
Comorbidities
Diabetes        2029
Hypertension    2018
Both             986
Name: count, dtype: int64
-----------------
Asthma_Control_Level
Not Controlled       1229
Poorly Controlled    1120
Well Controlled        84
Name: count, dtype: int64

In [ ]:
data.isnull().sum() / len(data) * 100

Patient_ID                  0.00
Age                         0.00
Gender                      0.00
BMI                         0.00
Smoking_Status              0.00
Family_History              0.00
Allergies                  29.36
Air_Pollution_Level         0.00
Physical_Activity_Level     0.00
Occupation_Type             0.00
Comorbidities              49.67
Medication_Adherence        0.00
Number_of_ER_Visits         0.00
Peak_Expiratory_Flow        0.00
FeNO_Level                  0.00
Has_Asthma                  0.00
Asthma_Control_Level       75.67
dtype: float64

2.1 Mengatasi missing value pada kolom 'Allergies' menggunakan modus

In [ ]:
from sklearn.impute import SimpleImputer

imputer_mode = SimpleImputer(strategy="most_frequent")

data["Allergies"] = imputer_mode.fit_transform(data[["Allergies"]]).ravel()

*Alasan:* Untuk kolom Allergies yang memiliki missing value sekitar 29%, pendekatan yang sesuai untuk mengatasi masalah ini kita lakukan imputasi menggunakan modus. Hal ini karena variabel kolom ini bersifat kategorikal, sehingga metode ini seperti mean atau median tidak relevan. Dengan kita memilih modus, kita dapat mengisi nilai kosong berdasarkan kategori yang paling sering muncul pada kolom tersebut

2.2 Mengatasi missing value pada kolom 'Comorbidities' menggunakan modus

In [ ]:
mode_val = data["Comorbidities"].mode()[0]
data["Comorbidities"] = data["Comorbidities"].fillna(mode_val)

*Alasan:* Dari penjelasan mentor, jika missing value <5% maka data dapat dihapus karena jumlahnya kecil dan tidak terlalu berpengaruh. Sedangkan jika missing value â‰¥5%, maka data diimputasi agar tetap dapat digunakan, kali ini teknik imputasi yang dipilih adalah modus karena tipe data kolom "Comorbidities" kategorikal. Namun, sebenarnya cara mengatasi missing value juga bergantung pada jenis analisis yang dilakukan. Beberapa jurnal menyebutkan bahwa apabila missing value lebih dari 50%, sebaiknya kolom tersebut dipertimbangkan untuk dihapus, karena imputasi pada kondisi ini berisiko menghasilkan data yang bias dan tidak akurat akibat terlalu banyak nilai tebakan.

2.3 Mengatasi missing value pada kolom "Asthma_Control_Levels" dengan 'Unknown'

In [ ]:
data['Asthma_Control_Level'] = data['Asthma_Control_Level'].fillna("Unknown")

Kolom Asthma_Control_Level merupakan data kategorikal sehingga cocok jika missing value diatasi dengan menambahkan label baru "Unknown". Hal ini dipilih karena apabila langsung diimputasi menggunakan modus, dapat menambah dominasi salah satu kategori secara tidak wajar, mengingat persentase missing value pada kolom ini lebih dari 50%.

Selain itu, berdasarkan jurnal atau dosen saya terkait cleaning data, jika suatu kolom memiliki missing value lebih dari 50% maka kolom tersebut biasanya lebih dipertimbangkan untuk dihapus karena dikhawatirkan tidak representatif. Namun, sesuai penjelasan dari mentor sebelumnya, data dengan missing value lebih dari 5% masih dapat ditangani dengan teknik imputasi. Oleh karena itu, pada kasus ini missing value diatasi dengan menambahkan kategori baru "Unknown", agar data tetap dapat digunakan tanpa menimbulkan bias berlebihan atau sekadar menebak nilai yang hilang.

CEK APAKAH MISSING VALUE MASIH ADA?

In [ ]:
data.isnull().sum()

Patient_ID                 0
Age                        0
Gender                     0
BMI                        0
Smoking_Status             0
Family_History             0
Allergies                  0
Air_Pollution_Level        0
Physical_Activity_Level    0
Occupation_Type            0
Comorbidities              0
Medication_Adherence       0
Number_of_ER_Visits        0
Peak_Expiratory_Flow       0
FeNO_Level                 0
Has_Asthma                 0
Asthma_Control_Level       0
dtype: int64

In [ ]:
# simpan hasil data yang sudah di handle missing value nya
data_no_missing_value = data.copy()

## **3. Duplikasi Data** (Siti)

**Cara Mengatasi Data Duplicated**

Duplikasi data sering menjadi masalah dalam pengolahan dataset karena dapat menurunkan kualitas analisis. Penanganannya diawali dengan identifikasi menggunakan fungsi seperti duplicated() di Python atau fitur remove duplicates pada Excel/SQL. Jika baris benar-benar identik, duplikasi bisa dihapus dengan drop_duplicates(). Namun, bila terdapat perbedaan kecil, perlu ditetapkan aturan seleksi, misalnya memilih entri terbaru atau data paling lengkap. Dalam kondisi tertentu, data duplikat lebih tepat digabungkan dengan metode agregasi, seperti rata-rata, jumlah, atau nilai maksimum. Untuk mencegah duplikasi, sebaiknya sejak awal digunakan sistem validasi seperti primary key atau ID unik. Dengan langkah ini, integritas data terjaga dan analisis lebih akurat.

In [ ]:
data["Patient_ID"].duplicated().sum()

np.int64(0)

## **4. Cek Outlier** (Ciara, Fuzi)

In [ ]:
import numpy as np

# Pilih kolom numerik
numeric_cols = data.select_dtypes(include=[np.number]).columns

# Dictionary untuk simpan hasil
outlier_counts = {}

for col in numeric_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    outlier_counts[col] = outliers.shape[0]

outlier_counts

{'Age': 0,
 'BMI': 24,
 'Family_History': 0,
 'Medication_Adherence': 0,
 'Number_of_ER_Visits': 3,
 'Peak_Expiratory_Flow': 0,
 'FeNO_Level': 41,
 'Has_Asthma': 2433}

Berdasarkan hasil deteksi outlier menggunakan metode Interquartile Range (IQR), diketahui bahwa variabel Age, Medication Adherence, dan Peak Expiratory Flow tidak memiliki outlier sehingga distribusi datanya relatif normal dan tidak terdapat nilai ekstrem yang signifikan. Sementara itu, pada variabel BMI ditemukan sebanyak 24 outlier, yang mengindikasikan adanya individu dengan indeks massa tubuh jauh lebih tinggi atau lebih rendah dibanding kelompok mayoritas. Variabel Number of ER Visits memiliki 3 outlier, yang menunjukkan adanya pasien dengan jumlah kunjungan Unit Gawat Darurat yang tidak wajar dibanding pasien lainnya. Adapun variabel dengan jumlah outlier terbanyak adalah FeNO Level, yaitu sebanyak 41, yang menandakan adanya variasi fisiologis ekstrem atau kemungkinan kesalahan pencatatan data. Dengan demikian, variabel yang perlu mendapat perhatian khusus dalam analisis selanjutnya adalah BMI dan FeNO Level, karena keberadaan outlier dalam jumlah besar dapat memengaruhi hasil analisis statistik maupun pemodelan yang akan dilakukan.

In [ ]:
# data_no_missing_value["Has_Asthma"].value_counts()

Dari hasil pengecekan, terlihat bahwa kolom Age, Medication_Adherence, dan Family_History memiliki nilai yang masih berada dalam rentang wajar sehingga tidak terdapat outlier. Sementara itu, pada kolom Has_Asthma terdeteksi banyak outlier. Namun, sebelum menentukan solusi penanganan, penting untuk memahami terlebih dahulu jenis data dan isi kolom tersebut. Setelah ditelusuri, kolom Has_Asthma merupakan data kategorikal dengan nilai biner (0 dan 1), sehingga deteksi outlier menggunakan metode IQR tidak relevan. Oleh karena itu, kolom Has_Asthma tidak memerlukan penanganan outlier.

In [ ]:
print(data["Has_Asthma"].value_counts())
print(data["Has_Asthma"].unique())

Has_Asthma
0    7567
1    2433
Name: count, dtype: int64
[0 1]

In [ ]:
outlier_cols = ["BMI", "Number_of_ER_Visits", "FeNO_Level"]

extreme_values = {}
for col in outlier_cols:
    extreme_values[col] = {
        "Min": data_no_missing_value[col].min(),
        "Max": data_no_missing_value[col].max(),
        "Q1": data_no_missing_value[col].quantile(0.25),
        "Q3": data_no_missing_value[col].quantile(0.75)
    }

extreme_df = pd.DataFrame(extreme_values).T
print(extreme_df)

                      Min   Max    Q1    Q3
BMI                  15.0  45.0  21.6  28.4
Number_of_ER_Visits   0.0   6.0   0.0   2.0
FeNO_Level            5.0  63.9  18.2  31.7

4.1 kolom "BMI", "Number_of_ER_Visits", "FeNO_Level" outliernya tidak di hapus

*Alasannya:* Data outlier pada kolom BMI, Number_of_ER_Visits, dan FeNO_Level tidak dihapus karena nilai-nilainya masih masuk akal dan logis secara medis (tidak jauh jauh amatlah nilainya). Misalnya, BMI dengan nilai minimum 15 menunjukkan kondisi sangat kurus dan maksimum 45 mengindikasikan obesitas ekstrem, keduanya masih mungkin terjadi pada manusia. Jumlah kunjungan IGD maksimum sebanyak 6 kali per tahun juga wajar, terutama bagi pasien asma berat yang sering kambuh. Sementara itu, FeNO_Level dengan nilai maksimum 63,9 ppb menggambarkan tingkat inflamasi paru yang tinggi, tetapi tetap dalam batas klinis normal untuk pasien dengan kondisi asma parah. Dengan demikian, outlier tersebut lebih tepat dipertahankan karena mencerminkan variasi nyata dalam data pasien, bukan kesalahan pengentrian atau nilai yang tidak mungkin terjadi, sehingga menghapusnya justru takutnya berisiko menghilangkan informasi penting.

In [ ]:
data_no_missing_value.to_csv("DataSudahBersih_synthetic_asthma_dataset.csv", index=False)
print("done")

done

data mentah (sebelum di bersihkan) : [link Data synthetic_asthma_dataset](https://drive.google.com/file/d/1mJ_suy2yfKlC7Uln4maHdxLL0AXdUAxs/view?usp=drive_link)

data yang sudah di bersihkan (data clean) : [link data synthetic_asthma_datase yang sudah di bersihkan](https://drive.google.com/file/d/1dnrQh18WA88Ax4_4AVp3sYVjVSL14AhD/view?usp=drive_link)